services:
  app:
    build: ./app
    ports:
      - "5000:5000"
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
    networks:
      - backend

  redis:
    image: redis:alpine
    networks:
      - backend

networks:
  backend:
    driver: bridge
