---
- name: Run Node Exporter
  community.docker.docker_container:
    name: node_exporter
    image: prom/node-exporter:latest
    state: started
    restart_policy: always
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'

- name: Create Promtail config directory
  ansible.builtin.file:
    path: /etc/promtail
    state: directory
    mode: '0755'

- name: Copy Promtail agent config
  ansible.builtin.template:
    src: templates/monitoring/promtail-agent-config.yaml.j2
    dest: /etc/promtail/config.yml
    mode: '0644'

- name: Run Promtail
  community.docker.docker_container:
    name: promtail
    image: grafana/promtail:latest
    state: started
    restart_policy: always
    volumes:
      - /var/log:/var/log
      - /etc/promtail/config.yml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
